body {
    display: flex;
    /*margin-left: 10%;
    margin-right: 10%;*/
    align-items: top;
    background-image: url("./program images/Football pitch.jpeg");
    background-size: cover;
    z-index: 1;
  }
  

  
  #canvas {
    display: flex; /* Flex ger ett rutmönster */
    flex-direction: row;
    justify-content: center; /* Centrering på raden, dvs horisontellt */
    align-items: center;
    /* width: 80%; */
    width: 1880px;
    height: 950px;
    /*border: solid;
    border-width: 4px;
    border-color: black;*/
  }
  